* {
  margin: 0;
  font-family: "Century Gothic",sans-serif;
  font-weight: 300;
  color: white;
  scroll-behavior: smooth;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  margin: 1.20rem 0.5rem;
  padding: 0.6rem 0.9rem;
  float: right;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
}

#logo {
  margin: 0.60rem;
  float: left;
}

#contact {
  background: #e0bc75;
  margin-right: 1.4rem;
}

#desc {
  width: 100%;
  height: 780px;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

#desc video {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#desc h1 {
  position: absolute;
  font-size: 40px;
  margin-left: 7.5%;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#desc h3 {
  position: absolute;
  width: 45%;
  margin-left: 7.5%;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#desc button {
  position: absolute;
  width: 25%;
  margin-left: 7.5%;
  top: 30rem; height: 2.5rem; 
  background-color: #e0bc75; 
  color: white;
  border-color: #e0bc75;
  transition: 300ms;
  border-style: solid;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#desc button:hover {
  background: none;
  cursor: pointer;
}

#brand {
  display: flex;
  justify-content:space-between;
  width: 100%;
  margin-top: 2rem;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#brand p {
  color: black;
  padding: 0.65rem 0.75rem 0.75rem 0.75rem;
  line-height: 1.85rem;
}

#brand-desc {
  width: 42.5%;
  margin-left: 7.5%;
}

#brand-desc img{
  margin-left: 2.5%;
}

#brand-desc button {
  width: 25%;
  margin-top: 1rem; 
  height: 2.5rem; 
  background-color: #e0bc75; 
  border-color: #e0bc75;
  border-style: solid;
  color: white;
  transition: 300ms;
}

#brand-image {
  width: 42.5%;
  margin-right: 7.5%;
}

#brand-image img{
  width: 95%;
}

#andrew {
  width: 45%; 
  padding-left: 2rem;
}

#andrew p {
  padding: 0;
  margin: 0 0 0.5rem;
}

/* ========================== */

#built {
  display: flex;
  justify-content:space-between;
  width: 100%;
  margin-top: 2rem;
  background-color: #333333;
  padding-top: 3rem;
  padding-bottom: 3rem;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#built p {
  color: white;
  padding: 0.65rem 0.75rem 0.75rem 0.75rem;
  line-height: 1.45rem;
}

#built-desc {
  width: 42.5%;
  margin-right: 7.5%;
}

#built-desc img{
  margin-left: 2.5%;
}

#built-desc button {
  width: 25%;
  margin-top: 1rem; 
  height: 2.5rem; 
  background-color: #e0bc75; 
  border-color: #e0bc75;
  border-style: solid;
  color: white;
  transition: 300ms;
}

#built-image {
  width: 42.5%;
  margin-left: 7.5%;
}

#built-image img {
  width: 95%;
}

#don {
  width: 45%; 
  padding-left: 2rem;
}

#don p {
  padding: 0;
  margin: 0 0 0.5rem;
}

/* ========================== */

#exp {
  display: flex;
  justify-content:space-between;
  width: 100%;
  margin-top: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#exp p {
  color: black;
  padding: 0.65rem 0.75rem 0.75rem 0.75rem;
  line-height: 1.85rem;
}

#exp-desc {
  width: 42.5%;
  margin-left: 7.5%;
}

#exp-desc img{
  margin-left: 2.5%;
}

#exp-desc button {
  width: 25%;
  margin-top: 1rem; 
  height: 2.5rem; 
  background-color: #e0bc75; 
  border-color: #e0bc75;
  border-style: solid;
  color: white;
  transition: 300ms;
}

#exp-image {
  width: 42.5%;
  margin-right: 7.5%;
}

#exp-image img {
  width: 95%;
}

#homer {
  width: 45%; 
  padding-left: 2rem;
}

#homer p {
  padding: 0;
  margin: 0 0 0.5rem;
}

#numbers {
  background-image: url('https://mbluxury1.s3.amazonaws.com/2020/09/16124553/MB_homepage-numbersBG.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 20.5%;
  display: flex;
}

#founded {
  margin-left: 7.5rem;
  width: 45%;
  margin-top: -17%;
  margin-right: 5%;
}

#founded h3 {
  font-family: georgia,serif; 
  font-style: italic;
  font-size: 3.5vw;
}

#founded p {
  font-size: 1.2vw;
  font-weight: lighter;
}

#fourPoints {
  display: flex;
  width: 45%;
  margin-top: -17vw;
}

#fourPoints div {
  margin-right: 15%;
}

#fourPoints h4 {
  font-weight: bold;
  font-size: 2.5vw;
  color: #e0bc75;
  margin-left:20%;
}

#fourPoints p {
  font-weight: bolder;
}

#fourPoints ul {
  list-style: none;
}

#fourPoints ul li {
  margin-bottom: 3vh;
}

#services {
  display: flex;
  width: 75%;
  margin-left: 5%;
  margin-right: 5%;
}

#services div{
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 3.5%;
}

#services div img {
  width: 20vw;
}

#services div h3 {
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 1.5rem;
  color: #e0bc75;
}

#services div p {
  font-size: 1.1rem;
  color: black;
}

#services div button {
  border-style: solid;
  border-color: #e0bc75;
  border-width: 2px;
  background-color: #e0bc75;
  color: white;
  transition: 300ms;
  width: 13.5vw;
  height: 3vw;
  margin-top: 2vw;
}

#services div button:hover {
  border-color: #e0bc75;
  background-color: white;
  color: #e0bc75;
}

#services ul {
  margin-top: 1vw;
}

#services ul li {
  margin-top: 0.75vw;
  margin-left: -1.25vw;
  color: black;
}

#work {
  margin-top: 5vw;
  background-color: rgba(240, 240, 240, 0.75);
  text-align: center;
}

#work h4 {
  padding-top: 3.5vw;
  color: black;
  text-align: center;
  font-family: georgia,serif;
  font-style: italic;
  font-size: 2.1vw;
}

#work img {
  width: 19.5vw;
  filter: grayscale(1);
  transition: 300ms;
}

#work img:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  filter: grayscale(0);
}

#work button {
  border-style: solid;
  border-color: #e0bc75;
  border-width: 2px;
  background-color: #e0bc75;
  color: white;
  transition: 300ms;
  width: 13.5vw;
  height: 3vw;
}

#work button:hover {
  border-color: #e0bc75;
  background-color: white;
  color: #e0bc75;
}

#articles {
  margin: auto;
}

#articles img {
  width: 25vw;
  margin: 1vw 1vw 0 1vw;
  border-radius: 5px;
}