* {
  margin: 0;
  font-family: "Century Gothic",sans-serif;
  font-weight: 300;
  color: white;
  scroll-behavior: smooth;
}

.topnav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.75);
}

.topnav a {
  margin: 1.20rem 0.5rem;
  padding: 0.6rem 0.9rem;
  float: right;
  text-decoration: none;
  font-size: 0.9rem;
  color: black;
}

.moovingLink {
  background: 
    linear-gradient(to right, rgba(100, 200, 200, 0), rgba(100, 200, 200, 0)),
    linear-gradient(to right, #e0bc75, #e0bc75);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: 400ms;
}

.moovingLink:hover,
.moovingLink:focus {
  color: #e0bc75;
  background-size: 0 0.1em, 100% 0.1em;
}

#logo {
  margin: 0.60rem;
  float: left;
}

#contact {
  background: #e0bc75;
  margin-right: 1.4rem;
  transition: 400ms;
}

#contact:hover {
  color: white;
}

#desc {
  width: 100%;
  height: 100vh;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

#videoContainer {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
        
  overflow: hidden;
  clip-path: 0 0;
  transform: translatez(0);
}

#digital {
  height: 10vw;
  font-size: 15vw;
  position: absolute; 
  top: 20vw; 
  width: 100%;
}

#digital {
  top: 15vw;
}

#digital h3 {
  margin-bottom: -10vw;
}

#desc video {
  transform: translatez(0);
  position: absolute;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;    

  margin: auto;

  min-width: 100%;
  min-height: 100%;
}

#desc h1 {
  font-size: 2vw;
  margin-left: 7.5%;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#desc h3 {
  font-size: 1vw;
  width: 45%;
  margin-left: 7.5%;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#desc button {
  width: 30vw;
  margin-left: 7.5%;
  height: 2.5rem;
  background-color: #e0bc75; 
  color: white;
  border-color: #e0bc75;
  transition: 300ms;
  border-style: solid;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#desc button:hover {
  background: none;
  cursor: pointer;
}

#brand {
  display: flex;
  justify-content:space-between;
  width: 100%;
  margin-top: 2vw;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#brand p {
  color: black;
  padding: 0.65rem 0.75rem 0.75rem 0.75rem;
  line-height: 1.85rem;
}

#brand-desc {
  width: 42.5%;
  margin-left: 7.5%;
}

#brand-desc img{
  margin-left: 2.5%;
}

#brand-desc button {
  width: 25%;
  margin-top: 1rem; 
  height: 2.5rem; 
  background-color: #e0bc75; 
  border-color: #e0bc75;
  border-style: solid;
  transition: 300ms;
}

#brand-desc button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #e0bc75;
  cursor: pointer;
}

#brand-image {
  width: 42.5%;
  margin-right: 7.5%;
}

#brand-image img{
  width: 95%;
}

#andrew {
  width: 45%; 
  padding-left: 2rem;
}

#andrew p {
  padding: 0;
  margin: 0 0 0.5rem;
}

/* ========================== */

#built {
  display: flex;
  justify-content:space-between;
  width: 100%;
  margin-top: 2rem;
  background-color: #333333;
  padding-top: 3rem;
  padding-bottom: 3rem;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#built p {
  color: white;
  padding: 0.65rem 0.75rem 0.75rem 0.75rem;
  line-height: 1.45rem;
}

#built-desc {
  width: 42.5%;
  margin-right: 7.5%;
}

#built-desc img{
  margin-left: 2.5%;
}

#built-desc button {
  width: 25%;
  margin-top: 1rem; 
  height: 2.5rem; 
  background-color: #e0bc75; 
  border-color: #e0bc75;
  border-style: solid;
  transition: 300ms;
}

#built-desc button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #e0bc75;
  cursor: pointer;
}

#built-image {
  width: 42.5%;
  margin-left: 7.5%;
}

#built-image img {
  width: 95%;
}

#don {
  width: 45%; 
  padding-left: 2rem;
}

#don p {
  padding: 0;
  margin: 0 0 0.5rem;
}

/* ========================== */

#exp {
  display: flex;
  justify-content:space-between;
  width: 100%;
  margin-top: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#exp p {
  color: black;
  padding: 0.65rem 0.75rem 0.75rem 0.75rem;
  line-height: 1.85rem;
}

#exp-desc {
  width: 42.5%;
  margin-left: 7.5%;
}

#exp-desc img{
  margin-left: 2.5%;
}

#exp-desc button {
  width: 25%;
  margin-top: 1rem; 
  height: 2.5rem; 
  background-color: #e0bc75; 
  border-color: #e0bc75;
  border-style: solid;
  transition: 300ms;
}

#exp-desc button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #e0bc75;
  cursor: pointer;
}

#exp-image {
  width: 42.5%;
  margin-right: 7.5%;
}

#exp-image img {
  width: 95%;
}

#homer {
  width: 45%; 
  padding-left: 2rem;
}

#homer p {
  padding: 0;
  margin: 0 0 0.5rem;
}

#numbers {
  background-image: url('https://mbluxury1.s3.amazonaws.com/2020/09/16124553/MB_homepage-numbersBG.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 20.5%;
  display: flex;
}

#founded {
  margin-left: 5%;
  width: 45%;
  margin-top: -17%;
  margin-right: 5%;
}

#founded h3 {
  font-family: georgia,serif; 
  font-style: italic;
  font-size: 3.5vw;
}

#founded p {
  font-size: 1.2vw;
  font-weight: lighter;
}

#fourPoints {
  display: flex;
  width: 45%;
  margin-top: -17vw;
}

#fourPoints div {
  margin-right: 15%;
}

#fourPoints h4 {
  font-weight: bold;
  font-size: 2.5vw;
  color: #e0bc75;
  margin-left:20%;
}

#fourPoints p {
  font-weight: bolder;
}

#fourPoints ul {
  list-style: none;
}

#fourPoints ul li {
  margin-bottom: 3vh;
}

#ourServices{
  font-size: 20px;
} 

#ourServicesDesc {
  font-size: 15px;
}

#services {
  display: flex;
  width: 75%;
  margin-left: 5%;
  margin-right: 5%;
}

#services div{
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 3.5%;
}

#services div img {
  width: 20vw;
}

#services div h3 {
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 1.5rem;
  color: #e0bc75;
}

#services div p {
  font-size: 1.1rem;
  color: black;
}

#services div button {
  border-style: solid;
  border-color: #e0bc75;
  border-width: 2px;
  background-color: #e0bc75;
  color: white;
  transition: 300ms;
  width: 13.5vw;
  height: 3vw;
  margin-top: 2vw;
}

#services div button:hover {
  cursor: pointer;
  border-color: #e0bc75;
  background-color: white;
  color: #e0bc75;
}

#services ul {
  margin-top: 1vw;
}

#services ul li {
  margin-top: 0.75vw;
  margin-left: -1.25vw;
  color: black;
}

#work {
  margin-top: 5vw;
  background-color: rgba(240, 240, 240, 0.75);
  text-align: center;
}

#work h4 {
  padding-top: 3.5vw;
  color: black;
  text-align: center;
  font-family: georgia,serif;
  font-style: italic;
  font-size: 2.1vw;
}

#work img {
  width: 19.5vw;
  filter: grayscale(1);
  transition: 300ms;
}

#work img:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  filter: grayscale(0);
}

#work button {
  border-style: solid;
  border-color: #e0bc75;
  border-width: 2px;
  background-color: #e0bc75;
  color: white;
  transition: 300ms;
  width: 13.5vw;
  height: 3vw;
}

#work button:hover {
  cursor: pointer;
  border-color: #e0bc75;
  background-color: white;
  color: #e0bc75;
}

#articles {
  margin: auto;
  display: flex; 
  width: 75%; 
  justify-content: center; 
  margin-bottom: 2.5vw;
}

#articles img {
  width: 25vw;
  margin: 1vw 1vw 0 1vw;
  border-radius: 5px;
}

#articles a {
  margin-bottom: 10%;
}

#articles div p {
  font-size: 1.5vw; 
  color: #e0bc75; 
  margin: 1vw;
}

.banner{
  background: url(banner.jpg);
  height: 270px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  margin-top: -25px;
}

.banner p:nth-child(1){
  font-size: 25px;
  padding-top: 5%;
  margin-bottom: -15px;
}

.banner p:nth-child(2){
  font-size: 30px;
  font-weight: bold;
}

.banner button{
  font-weight: bold;
  color: white;
  font-size: 16px;
  border: 3px solid #f6ca78;
  padding: 10px;
  background-color: #f6ca78;
  cursor: pointer;
  transition: 0.3s;
}

.banner button:hover{
  background: none;
  color: #f6ca78;
}

.last{
  padding-top: 50px;
  display: flex;
  color: white;
  border: 2px solid #333;
  height: 400px;
  background-color: #333;
  font-family: "Century Gothic",sans-serif;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.last div:nth-child(1) img{
  margin-bottom: 30px;
}

.last div{
  width: 25%;
}

.last .grey{
  opacity: 0.7;
}

.last a{
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.last p {
  color: white;
}

.last .opa:hover{
  opacity: 0.5;
}

.last .opa:focus{
  color: rgb(114, 114, 250);
}

.last .logo{
  display: flex;
  margin-bottom: 30px;
}

.last .logo img{
  width: 20px;
  height: 25px;
  margin-right: 20px;
  margin-left: -2px;
  cursor: pointer;
}

#mySidebar {
  display: none;
}

#openNav {
  display: none;
}

@media only screen and (max-width: 1100px) {
 .topnav {
  display: none;
 }

 #openNav {
  display: flex;
  position: sticky;
  height: 10vw;
  top: 0;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 999;
 }

#openNav a {
  margin: 3vw;
  margin-left: 3vw;
}

#openNav i {
  filter: brightness(0.5);
  font-size: 2vw;
  margin: 3.5vw;
}
 
 #openNav button {
  right: 0;
  background: none;
  border-style: none;
 }

 #mySidebar {
  position: sticky;
  top: 0;
  float: right;
  height: 100vh;
  width: 20vw;
  background-color: #333;
  margin-right: -20.5vw;
  margin-top: -35vw;
  z-index: 2000;
 }

#mySidebar a {
  text-decoration: none;
}

 #mySidebar p {
  margin: 2vw;
  font-weight: bold;
  text-decoration: none;
 }

 #mySidebar button {
  position: absolute;
  background: none;
  right: 0;
  margin: 1.75vw 1vw;
  width: 2.5vw;
  height: 2.5vw;
  border-style: none;
 }

 #mySidebar button i{
  font-size: 3vw;
 }

  #desc h1 {
    font-size: 5vw;
  }

  #desc h3 {
    font-size: 3vw;
    width: 85%;
  }

  #desc button {
    font-size: 2.5vw;
    height: 10vw;
  }

  #digital {
    top: 50vw;
  }

  #brand {
    display: grid;
  }

  #brand-desc {
    width: 90%;
  }

  #brand-desc img{
    margin-top: 2.5%;
  }

  #brand-image {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #andrew {
    width: 65%;
  }

  #andrew p {
    font-size: 3vw;
  }
  
  #built {
    display: grid;
    margin-top: 2vw;
  }
  
  #built p {
    padding: 0.65rem 0.75rem 0.75rem 0.75rem;
    line-height: 1.85rem;
  }
  
  #built-desc {
    width: 90%;
    margin-left: 7.5%;
  }
  
  #built-desc img{
    margin-top: 2.5%;
    margin-left: 2.5%;
  }
  
  #built-desc button {
    width: 25%;
    margin-top: 1rem; 
    height: 2.5rem; 
  }
  
  #built-image {
    width: 90%;
    margin-right: 7.5%;
  }
  
  #built-image img{
    width: 95%;
  }
  
  #don {
    width: 65%;
    padding-left: 2rem;
  }
  
  #don p {
    font-size: 3vw;
    padding: 0;
    margin: 0 0 0.5rem;
  }

  #exp {
    display: grid;
  }

  #exp {
    display: grid;
  }

  #exp-desc {
    width: 90%;
  }

  #exp-desc img{
    margin-top: 2.5%;
  }

  #exp-image {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #homer {
    width: 65%;
  }

  #homer p {
    font-size: 3vw;
  }

  #founded h3 {
    font-size: 4vw;
  }

  #founded p {
    font-size: 1.85vw;
  }

  #fourPoints h4{
    margin-left: 10%;
    font-size: 5vw;
  }

  #fourPoints div ul li{
    margin: 0 0 2.5vw 0;
  }

  #fourPoints div ul li p {
    display: none;
  }

  #fourPoints li {
    width: 10vw;
  }

  #services {
    display: grid;
    margin: 0;
    width: 100%;
  }
  
  #services div{
    width: 90%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  #services div img {
    width: 100%;
  }

  #services div button {
    height: 10vw;
  }

  #articles {
    display: grid;
    width: 90%;
  }

  #articles div img {
    width: 100%;
  }

  #articles div a p{
    font-size: 3vw;
  }
  
  .banner p:nth-child(1){
    font-size: 4vw;
    padding-top: 5%;
    margin-bottom: 10px;
  }
  
  .banner p:nth-child(2){
    font-size: 4vw;
  }

  .last{
    padding-top: 1vw;
    display: block;
    color: white;
    border: 2px solid #333;
    height: 1000px;
    background-color: #333;
    font-family: "Century Gothic",sans-serif;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
  }

  .last div{
      width: 100%;
      margin-top: 40px;
      margin-bottom: 40px;
  }
}