* {
  margin: 0;
  font-family: "Century Gothic", sans-serif;
  font-weight: 300;
  color: white;
  scroll-behavior: smooth;
}

.topnav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: white;
}

.topnav a {
  color: black;
  margin: 1.20rem 0.5rem;
  padding: 0.6rem 0.9rem;
  float: right;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
}

#logo {
  margin: 0.60rem;
  float: left;
}

#contact {
  background: #e0bc75;
  margin-right: 1.4rem;
  transition: 400ms;
}

#contact:hover {
  color: white;
}

.moovingLink {
  background:
    linear-gradient(to right, rgba(100, 200, 200, 0), rgba(100, 200, 200, 0)),
    linear-gradient(to right, #e0bc75, #e0bc75);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: 400ms;
}

.moovingLink:hover,
.moovingLink:focus {
  color: #e0bc75;
  background-size: 0 0.1em, 100% 0.1em;
}

#choosenLink {
  background:
    linear-gradient(to right, #e0bc75, #e0bc75),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

#work {
  font-size: 10vw
}

#workDesc {
  font-size: 1.1vw;
  width: 35%;
}

#category {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  margin-top: 7vw;
}

#category p {
  margin-left: 1%;
  margin-right: 1%;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

#category p:hover {
  cursor: pointer;
}

#allCategory {
  width: 90%;
  margin-left: 7.5%;
}

#pages {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5%;
}

#pages a {
  text-decoration: none;
  margin: 0.25%;
}

#pages div {
  width: 100%;
  height: 11.5vw;
  overflow: hidden;
}

.nameNDesc {
  margin-top: -8vw;
  padding-left: 2vw;
}

.cat {
  position: relative;
  font-size: 0.85vw;
  color: white;
}

.title {
  font-size: 1.35vw;
  color: #e0bc75;
  position: relative;
}

#pages div img {
  width: 20vw;
  filter: brightness(0.5);
  transition: 200ms;
  z-index: -1;
}

#pages div img:hover {
  filter: brightness(0.75);
}

.banner {
  background: url(../banner.jpg);
  height: 270px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  margin-top: 5%;
}

.banner p:nth-child(1) {
  font-size: 2vw;
  padding-top: 5%;
  padding-bottom: 1%;
  margin-bottom: -15px;
}

.banner p:nth-child(2) {
  font-size: 2vw;
  font-weight: bold;
}

.banner button {
  font-weight: bold;
  color: white;
  font-size: 1vw;
  border: 3px solid #f6ca78;
  padding: 10px;
  background-color: #f6ca78;
  cursor: pointer;
  transition: 0.3s;
}

.banner button:hover {
  background: none;
  color: #f6ca78;
}

.last {
  padding-top: 50px;
  display: flex;
  color: white;
  border: 2px solid #333;
  height: 400px;
  background-color: #333;
  font-family: "Century Gothic", sans-serif;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.last p {
  color: white;
}

.last div:nth-child(1) img {
  margin-bottom: 30px;
}

.last div {
  width: 25%;
}

.last .grey {
  opacity: 0.7;
}

.last a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.last .opa:hover {
  opacity: 0.5;
}

.last .opa:focus {
  color: rgb(114, 114, 250);
}

.last .logo {
  display: flex;
  margin-bottom: 30px;
}

.last .logo img {
  width: 20px;
  height: 25px;
  margin-right: 20px;
  margin-left: -2px;
  cursor: pointer;
}

#mySidebar {
  display: none;
}

#openNav {
  display: none;
}


#message {
  width: 60px;
  position: fixed;
  bottom: 36px;
  left: 93%;
  z-index: 5;
}

#message button {
  background: url(../message.png);
  border-radius: 35px;
  border: none;
  background-color: #093587;
  align-items: center;
  width: 70px;
  height: 70px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(100%);
  cursor: pointer;
  transition: 0.3s;
}

#message button:hover {
  background: url(../pen.png);
  border-radius: 35px;
  border: none;
  background-color: #f8a900;
  align-items: center;
  width: 75px;
  height: 75px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#typing {
  border-radius: 20px;
  background-color: white;
  position: fixed;
  width: 350px;
  height: 500px;
  right: 4%;
  bottom: 30px;
  display: none;
}

#typing #hum {
  height: 25%;
  border-radius: 19px 19px 0px 0px;
  background-color: #f6ca78;
}

#typing #hum div {
  display: flex;
}

#typing #hum img {
  width: 75px;
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 40px;
}

#typing #hum div p {
  margin-top: 50px;
  margin-left: 20px;
  font-family: "Century Gothic", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: white;
}

#typing #hum div button {
  margin-left: 60px;
  height: 40px;
  width: 40px;
  margin-top: 45px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background: none;
  transition: 0.3s;
  padding-top: 4px;
  padding-right: 7px;
}

#typing #hum div button:hover {
  background: rgba(68, 68, 68, 0.559);
}

#typing #mes {
  height: 55%;
}

#typing #mes div {
  border-radius: 20px;
  background-color: #4f4f4f20;
  margin-top: 20px;
  margin-left: 20px;
  width: 250px;
  height: 80px;
}

#typing #mes div p {
  color: black;
  padding: 14px 5px 10px 15px;
  font-family: "Century Gothic", sans-serif;
  font-size: 14px;
}

#typing #type {
  height: 15%;
  border-top: 2px solid rgba(128, 128, 128, 0.582);
  border-radius: 0px 0px 19px 19px;
  width: 80%;
  margin-left: 10%;
  display: flex;
}

#typing #type input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
}

#typing #send {
  width: 60px;
  position: fixed;
  bottom: 36px;
  left: 93%;
  z-index: 5;
}

#typing #send button {
  background: url(../send.png);
  border-radius: 35px;
  border: none;
  background-color: #093587;
  align-items: center;
  width: 70px;
  height: 70px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(100%);
  cursor: pointer;
  transition: 0.3s;
  font-size: 0px;
}

#typing #send button:hover {
  border-radius: 35px;
  border: none;
  background-color: #f8a900;
  align-items: center;
  width: 75px;
  height: 75px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

form #text.shake {
  animation: shake 0.3s ease-in-out;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0%,
  100% {
    margin-left: 0px;
  }
  20%,
  80% {
    margin-left: -5px;
  }
  40%,
  60% {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 1100px) {
  .topnav {
    display: none;
  }

  #openNav {
    display: flex;
    position: sticky;
    height: 10vw;
    top: 0;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 999;
  }

  #openNav a img {
    width: 25vw;
  }

  #openNav a {
    margin: 3vw;
    margin-left: 3vw;
  }

  #openNav i {
    filter: brightness(0.5);
    font-size: 2vw;
    margin: 3.5vw;
  }

  #openNav button {
    right: 0;
    background: none;
    border-style: none;
  }

  #mySidebar {
    position: fixed;
    top: 0;
    right: 0;
    float: right;
    height: 150vh;
    overflow: hidden;
    width: 20vw;
    background-color: #333;
    margin-right: -20.5vw;
    z-index: 2000;
  }

  #mySidebar a {
    text-decoration: none;
  }

  #links {
    position: absolute;
    top: 30vh;
  }

  #mySidebar p {
    font-size: 1.5vw;
    margin: 2vw;
    font-weight: bold;
    text-decoration: none;
  }

  #mySidebar button {
    position: absolute;
    height: 3vh;
    width: 3vh;
    top: 2vh;
    margin-left: 12.5vw;
    color: black;
    position: relative;
    border-style: none;
    background: none;
  }

  #mySideBar i {
    width: 1.5vw;
  }

  #work {
    font-size: 10vw
  }

  #workDesc {
    font-size: 3vw;
    width: 70%;
  }

  #category {
    margin-top: 7vw;
  }

  #category p {
    font-size: 2vw;
  }

  #category p:hover {
    cursor: pointer;
  }

  .banner button {
    font-size: 3vw;
  }

  .banner p:nth-child(1) {
    font-size: 4vw;
    padding-top: 5vw;
    margin-bottom: 10px;
  }

  .banner p:nth-child(2) {
    font-size: 4vw;
  }

  .last {
    padding-top: 50px;
    display: block;
    color: white;
    border: 2px solid #333;
    height: 1000px;
    background-color: #333;
    font-family: "Century Gothic", sans-serif;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
  }

  .last div {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .message {
    width: 80px;
    position: fixed;
    bottom: 30px;
    left: 80%;
  }
  
  .message button {
    background: url(message.png);
    border-radius: 80px;
    border: none;
    background-color: #f8a900;
    align-items: center;
    width: 140px;
    height: 140px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
  }
}